/* Common */

body {
  font-family: roboto;
  color: #302f3c;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: lato;
}

.header {
  height: 560px;
  background-image: linear-gradient(
      317.71deg,
      #3e249e 0.68%,
      rgba(159, 153, 250, 0.5) 99.1%
    ),
    url('./team.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  padding: 0 16px;
}

.header__description {
  max-width: 768px;
  text-align: center;
}

.header__cta {
  background: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  padding: 12px 32px;
  color: #6c63ff;
  font-weight: bold;
  font-family: lato;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}

.section-header {
  text-align: center;
}

.section-header__subtitle {
  text-align: center;
}

.what-is {
  padding: 96px 0;
}

.what-is__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 96px;
}

.loool {
  background: linear-gradient(180deg, #edecfe 0%, #d2cffc 100%);
  border-radius: 4px;
  position: relative;
}

.what-is__image {
  position: absolute;
  left: 24px;
  top: 24px;
  width: 100%;
  height: 365px;
  background: url('./what-is-vauhtio.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: scaleX(-1);
}

.how-it-works {
  padding: 64px 0;
}

.how-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;
  margin-top: 64px;
}

.how-item__title {
  font-size: 18px;
}

.how-item__description {
  color: #5d5c75;
}

.how-item__icon-wrapper {
  background: #edecfe;
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 24px;
}

.how-item__icon {
  margin: 0;
}

.benefits-section {
  background: #5e55ec;
  padding: 64px 0;
}

.benefits__title {
  color: #ffffff;
}

.benefits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 32px;
}

.benefit {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 24px;
}

.benefit__title {
  color: #ffffff;
}

.benefit__description {
  color: #e6e5eb;
}

.team-section {
  padding: 64px 0;
}

.team {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: 96px;
  margin-top: 64px;
  justify-content: center;
}
