/* Common */

body {
  font-family: roboto;
  font-size: 16px;
  color: #5d5c75;
}

h1,
h2,
h3 {
  font-family: lato;
  color: #302f3c;
}

.header__description {
  max-width: 768px;
  text-align: center;
}

.header__cta {
  background: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  padding: 12px 32px;
  color: #5e55ec;
  font-weight: bold;
  font-family: lato;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}

.section-header {
  text-align: center;
}

.how-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;
  margin-top: 64px;
}

.how-item__title {
  font-size: 18px;
}

.how-item__description {
  color: #5d5c75;
}

.how-item__icon-wrapper {
  background: #edecfe;
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 24px;
}

.how-item__icon {
  margin: 0;
}

.benefits__title {
  color: #ffffff;
}

.team-section {
  padding: 64px 0;
}
