.introduction-section {
  padding: 48px 0;
}

.introduction-section h2 {
  font-size: 32px;
  text-align: center;
  margin: 0 auto 48px;
  line-height: 40px;
  max-width: 600px;
}

.introduction-section p {
  line-height: 28px;
  max-width: 640px;
  margin: 0 auto 16px;
}

@media (max-width: 767px) {
  .introduction-section {
    padding: 32px 0;
  }

  .introduction-section h2 {
    font-size: 21px;
    margin-bottom: 32px;
    line-height: 28px;
  }
}

.timeline-section {
  background: #edecfe;
  padding: 32px 0;
}

.timeline-section h2 {
  /* font-family: var(--header-font); */
  /* color: var(--grey-color-900); */
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 32px;
}

.timeline-section .timeline {
  display: grid;
  grid-template-columns: auto 70px;
  grid-column-gap: 128px;
}

.timeline-section .label-container {
  border-left: 2px solid #6c5ce7;
  position: relative;
}

.timeline-section .label {
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 24px 32px;
  /* font-family: var(--header-font); */
  position: absolute;
  right: 100%;
  transform: translateX(50%);
  font-weight: 600;
}

.timeline-section .label--end {
  bottom: 0;
}

.timeline-section .timeline-cards {
  display: grid;
  grid-gap: 16px;
  padding-top: 40px;
}

@media (max-width: 767px) {
  .timeline-section .label {
    padding: 12px 16px;
  }

  .timeline-section .timeline {
    grid-template-columns: auto 48px;
    grid-column-gap: 56px;
  }
}

@media (max-width: 650px) {
  .timeline-section h2 {
    font-size: 21px;
  }
}

.card {
  background: #ffffff;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card h3 {
  /* font-family: var(--header-font); */
  /* color: var(--grey-color-900); */
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
}

.card p {
  line-height: 28px;
  /* color: var(--grey-color-700); */
}

.card__line {
  position: absolute;
  left: 100%;
  top: 64px;
  height: 2px;
  background: #6c5ce7;
  width: 128px;
  z-index: 1;
}

.card__line__point {
  width: 16px;
  height: 16px;
  border: 2px solid #6c5ce7;
  background: #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
  margin-left: auto;
  position: relative;
  left: 9px;
  top: -7px;
}

@media (max-width: 767px) {
  .card {
    padding: 16px;
  }

  .card__line {
    width: 56px;
  }
}

@media (max-width: 650px) {
  .card h3 {
    font-size: 18px;
  }
}

.who-fits-section {
  background: #543acb;
  padding: 64px 0;
}

.who-fits-section .who-fits-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 16px;
}

.who-fits-section h2 {
  color: #ffffff;
  font-size: 32px;
  margin-top: 0;
}

.who-fits-section p {
  color: #b8f3ff;
  line-height: 28px;
}

.who-fits-section .feature__title {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.who-fits-section .feature__description {
  color: #b8f3ff;
  line-height: 28px;
  margin-bottom: 24px;
}

.who-fits-section img {
  margin-right: 12px;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .who-fits-section {
    padding: 32px 0;
  }

  .who-fits-section h2 {
    font-size: 21px;
  }

  .who-fits-section .who-fits-container {
    display: block;
  }
}
